{% extends "UKMRSVPBundle::layout.html.twig" %}

{% block content %}
	<div class="col-xs-12 eventHeader">
		<div class="data">
			<div class="pull-left">
				<h1>{{ eventServ.getName( event ) }}</h1>
				<p>{{ eventServ.getPlace( event ) }}</p>
			</div>
			<div class="pull-right dateIcon">
				<h1>{{ eventServ.getDateStart( event )|date('d') }}</h1>
				<h3>{{ eventServ.getDateStart( event)|date('M') }}</h3>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	{% if not eventServ.isOpen( event ) %}
		<div class="col-xs-12 eventStatus alert alert-danger">
			Hendelsen er ikke åpen for påmelding
		</div>
	{% else %}
		<div class="col-xs-12 eventStatus alert alert-info">
			{{ eventServ.getSpotsAvailable( event ) }} plasser tilgjengelig
		</div>	
	{% endif %}
	
	<div class="attendingStatus">
		<div class="col-xs-4 center">
			<h1>{{ eventServ.getStatusCountYes( event ) }}</h1>
			<small>kommer</small>
		</div>
		<div class="col-xs-4 center">
			<h1>{{ eventServ.getStatusCountMaybe( event ) }}</h1>
			<small>kanskje</small>
		</div>
		<div class="col-xs-4 center">
			<h1>{{ eventServ.getStatusCountNo( event ) }}</h1>
			<small>kommer ikke</small>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="col-xs-12 col-sm-6 pull-right center rsvp">
		<h2>Være med?</h2>
		{% if not logged_in %}
			<p>Du må logge inn med din UKMID for å melde deg på. Trykk logg inn for å komme i gang</p>
			<a href="{{ url('ukm_dip_login') }}" class="btn btn-success">Logg inn</a>
		{% else %}
			{% if not eventServ.isOpen( event ) %}
				<p>Hendelsen er full, og {{ waitingServ.getCount( event ) }} står på venteliste. Vil du også stå på venteliste?</p>

				<p>
					<a href="{{ eventServ.getUrlResponse( event, 'yes' ) }}" class="btn btn-success">
						{{ my_response is defined and "yes" == my_response ? '<span class="glyphicon glyphicon-ok"></span>' : '' }}
						Stå på venteliste (nr {{ waitingServ.getMyNumber( event ) }})
					</a>
				</p>
				<p>
					<a href="{{ eventServ.getUrlResponse( event, 'no' ) }}" class="btn btn-danger">
						{{ my_response is defined and "no" == my_response ? '<span class="glyphicon glyphicon-ok"></span>' : '' }}
						Meld meg av ventelisten
					</a>
				</p>

				
			{% else %}		
				{% if my_response is not defined %}
					<p><b>Du har ikke svart</b></p>
				{% endif %}
				<p>
					<a href="{{ eventServ.getUrlResponse( event, 'yes' ) }}" class="btn btn-success">
						{{ my_response is defined and "yes" == my_response ? '<span class="glyphicon glyphicon-ok"></span>' : '' }}
						Jeg kommer
					</a>
				</p>
				<p>
					<a href="{{ eventServ.getUrlResponse( event, 'maybe' ) }}" class="btn btn-warning">
						{{ my_response is defined and "maybe" == my_response ? '<span class="glyphicon glyphicon-ok"></span>' : '' }}
						Jeg kommer kanskje
					</a>
				</p>
				<p>
					<a href="{{ eventServ.getUrlResponse( event, 'no' ) }}" class="btn btn-danger">
						{{ my_response is defined and "no" == my_response ? '<span class="glyphicon glyphicon-ok"></span>' : '' }}
						Jeg kommer ikke
					</a>
				</p>
			{% endif %}
		{% endif %}
	</div>

	<div class="col-xs-12 col-sm-6 pull-left">
		{{ eventServ.getDescription( event ) }}
	</div>
	

{% endblock %}