{% extends "UKMRSVPBundle::layout.html.twig" %}

{% block content %}
	<div class="col-xs-12">
		<div class="col-xs-2 pull-right dateIcon">
			<h1>{{ eventServ.getDate( event )|date('d') }}</h1>
			<h3>{{ eventServ.getDate( event)|date('M') }}</h3>
		</div>
		<h1>{{ eventServ.getName( event ) }}</h1>
		<p>{{ eventServ.getPlace( event ) }}</p>
	</div>
	<div class="clearfix"></div>
	{% if not eventServ.isOpen( event ) %}
		<div class="alert alert-danger">
			Hendelsen er ikke åpen for påmelding
		</div>
	{% else %}
	<div class="col-xs-12 col-sm-6">
		<div id="spotsAvailable">{{ eventServ.getSpotsAvailable( event ) }} plasser tilgjengelig</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h2>RSVP</h2>
		<a href="#" class="btn btn-success">Logg inn med din UKMID</a>
	</div>
	{% endif %}

{% endblock %}